<div class="content" ui-view>
	

</div>
<footer class="footer">
	<ul>
		<li ui-sref="index.home" ui-sref-active="active">
			<b class="yo-ico">&#xe750;</b>
			<span>首页</span></li>
		<li ui-sref="index.search" ui-sref-active="active">
			<b class="yo-ico">&#xe752;</b>
			<span>发现</span>
		</li>
		<li ui-sref="index.camera" ui-sref-active="active">
			<b class="yo-ico">&#xe77e;</b>
		</li>
		<li ui-sref="index.my" ui-sref-active="active">
			<b class="yo-ico">&#xe787;</b>
			<span>我的</span>
		</li>
		<li ui-sref="index.exit" ui-sref-active="active">
			<b class="yo-ico">&#xe734;</b>
			<span>退出</span>
		</li>
	</ul>
</footer>